.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 80%;
  }
  .header {
    width: 100%;
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 901px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
