.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 80%;
  }
  .header {
    width: 100%;
    margin: 10px 0 40px 0;
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo{
        width: 120px;
      }
    }
    @media screen and (min-width: 901px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        width: 200px;
      }
    }
  }
}

.logout {
  font-size: .9em;
  position: relative;
  right: -7px;
  bottom: -4px;
  overflow: hidden;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: #000;
  width: 55px;
  //background-color: #004a96;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden;
}
.logout-img {
    width: 35px;
    border-radius: 50px;
    float: left;
  }
.logout-user{
  background-color: #004a96;
  color: #FFF;
  border-radius: 50px;
  padding: 5px;
  font-size: 1em;
  img{
    margin-left: 5px;
    margin-top: 2px;
  }
}

a:hover {
  width: 100px;
}

a:hover .logout {
  opacity: .9;
}

a {
  text-decoration: none;
}
