<div class="main">
    <div class="form-container">
        <h2>Power BI Report</h2>
        <div class="iframe-wrapper">
            <iframe title="Project_Voting_MBs - Tenant v0.1"
                src="https://app.powerbi.com/reportEmbed?reportId=ead83280-4b9a-48b6-a661-e87f2ff40d91&autoAuth=true&ctid=456c3ca4-0074-406c-aefc-7ae53d6430da&actionBarEnabled=true&reportCopilotInEmbed=true"
                frameborder="0" allowFullScreen="true">
            </iframe>
        </div>
    </div>
</div>