main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.85);
  }
}

.topbar-label {
  font-size: 11px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--muted);
  font-weight: 500;
}

.topbar-right {
  margin-left: auto;
  font-size: 12px;
  color: var(--muted);
  letter-spacing: 0.05em;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 40px 80px;
}

.cards {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.card {
  position: relative;
  width: 280px;
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 20px;
  padding: 40px 32px 36px;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  overflow: hidden;
  transition: transform 0.35s cubic-bezier(.25, .8, .25, 1),
    box-shadow 0.35s ease,
    border-color 0.35s ease,
    background 0.35s ease;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  animation: fadeUp 0.7s ease both;
}

.card:nth-child(1) {
  animation-delay: 0.15s;
}

.card:nth-child(2) {
  animation-delay: 0.28s;
}

.card:nth-child(3) {
  animation-delay: 0.41s;
}

.card-icon{
  width: 20px;
  img{
    width: 50px;
    margin-bottom: 10px;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(28px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(245, 166, 35, 0.5), transparent);
  opacity: 0;
  transition: opacity 0.35s ease;
}

.card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(90deg, var(--orange), var(--orange-2));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 3px 10px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(35, 151, 245, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.10);
  border-color: rgba(35, 151, 245, 0.25),
}

.card:hover::before {
  opacity: 0.5;
}

.card:hover::after {
  transform: scaleX(1);
}

.card:hover .card-icon {
  transform: scale(1.07);
}

.card-desc {
  font-size: 13px;
  color: var(--muted);
  line-height: 1.6;
  font-weight: 300;
}

.card:hover .card-arrow {
  opacity: 1;
  transform: translateX(0);
}
