
<main>

  <div class="cards">
  
    <a class="card" href="/create-project">
      <div class="card-icon"><img src="../../assets/inventory.png" alt=""></div>
      <div class="card-title">Create Project</div>
      <div class="card-arrow">→</div>
    </a>

    <a class="card" href="/update-project-form">
      <div class="card-icon"><img src="../../assets/software.png" alt=""></div>
      <div class="card-title">Update Project</div>
      <div class="card-arrow">→</div>
    </a>
    
    <a class="card" href="/voting-form">
      <div class="card-icon"><img src="../../assets/checklist.png" alt=""></div>
      <div class="card-title">Voting R&D Projects</div>
      <div class="card-arrow">→</div>
    </a>

    <a class="card" href="/update-project-visibility-and-status">
      <div class="card-icon"><img src="../../assets/view.png" alt=""></div>
      <div class="card-title">Update Project Visibility & Status</div>
      <div class="card-arrow">→</div>
    </a>
  
    <a class="card" href="/update-user-status">
      <div class="card-icon"><img src="../../assets/update-list.png" alt=""></div>
      <div class="card-title">Update User Status</div>
      <div class="card-arrow">→</div>
    </a>
  
    <a class="card" href="/bi-test">
      <div class="card-icon"><img src="../../assets/bar-graph.png" alt=""></div>
      <div class="card-title">Power BI Testing</div>
      <div class="card-arrow">→</div>
    </a>
  
  </div>
</main>