
html,
body {
  font-family: "Roboto", "Segoe UI", Arial, sans-serif;
  background-color: #dde1e5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.back-btn {
  border: none;
  color: #fff;
  background-color: #004a96;
  padding: 5px 12px;
  font-size: 13px;
  border-radius: 3px;

  &:hover {
    background-color: #003972;
    cursor: pointer;
  }
}