@if(!projectFormIsVisible && !votingFormIsVisible && !BIVisible){
<div class="home">
  <button (click)="showProjectForm()">
    <img src="../../assets/inventory.png" alt="">
    <div>
      Create Project
    </div>
  </button>
  <button (click)="showVotingForm()">
    <img src="../../assets/product-review.png" alt="">
    <div>
      Voting Form
    </div>
  </button>
  <button (click)="showBI()">
    <img src="../../assets/bar-graph.png" alt="">
    <div>
      Power BI Testing
    </div>
  </button>
</div>
}
@if(projectFormIsVisible){
<div class="forms-container">
  <button (click)="restoreVariables()">Back</button>
  <app-project-form></app-project-form>
</div>
}
@if(votingFormIsVisible){
<button (click)="restoreVariables()">Back</button>
<app-voting-form></app-voting-form>
}
@if(BIVisible){
  <button (click)="restoreVariables()">Back</button>
  <app-bi-test></app-bi-test>
}