.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
  button {
    img {
      width: 70px;
      margin-bottom: 10px;
    }
    background-color: #004a96;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    width: 220px;
    padding: 30px 5px;
    margin-right: 10px;
    font-size: 18px;
    &:hover {
      background-color: #013971;
      cursor: pointer;
    }
  }
}

.back-button{
  border: none;
  background-color: #ea992e;
  color: #fff;
  border-radius: 3px; 
  padding: 5px 12px;
  margin-top: 30px;
  cursor: pointer;
  &:hover{
  background-color: #c67f22;
  }
} 
